<% @title = "convention" %>
      <h1>Cheat Sheet Conventions</h1>

<p>
  <strong>Bold</strong> words are what is really important e.g.
  the command and concept shown in the usage category. In the code usage and
  example columns these highlight the main part of the concept, like this:
  <code>general_stuff<strong>.concept</strong></code>.
  In the same columns <code><em>italic_words</em></code> mark the
  arguments/parameters of a command/method.
</p>

<p>
  However <em>italic words</em> in the descriptions or general text denote
  more general concepts or concepts explained elsewhere in this cheat
  sheet or in general.
</p>

