<h1 id="editor">Editor tips</h1>

<p>
  When you write code you will be using a text editor. Of course each text
  editor is different and configurable. Here are just some functions and
  their most general short cuts. All of them work in
  <a href="https://sublimetext.com/2">Sublime Text 2</a>. Your editor may
  differ!
</p>

<p>
  The shortcuts listed here are for Linux/Windows. On a Mac you will have
  to replace <em>Ctrl</em> with <em>Cmd</em>.
</p>

<table class="table table-striped">
  <tr>
    <th>Function</th>
    <th class="shortcut">Shortcut</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Save file</td>
    <td><strong>Ctrl + S</strong></td>
    <td>
      Saves the currently open file. If it was a new file you may also be
      asked where to save it.
    </td>
  </tr>
  <tr>
    <td>Undo</td>
    <td><strong>Ctrl + Z</strong></td>
    <td>
      Undo the last change you made to the current file. Can be applied
      multiple times in succession to undo multiple changes.
    </td>
  </tr>
  <tr>
    <td>Redo</td>
    <td><p><strong>Ctrl + Y</strong></p>

      <p><em>or Ctrl + Shift + Z</em></p></td>
    <td>
      Redo what you just undid with <em>undo</em>, can also be done
      multiple times.
    </td>
  </tr>
  <tr>
    <td>Find in File</td>
    <td><strong>Ctrl + F</strong></td>
    <td>
      Search for a character sequence within the currently open file.
      Hit <em>Enter</em> to progress to the next match.
    </td>
  </tr>
  <tr>
    <td>Find in all Files</td>
    <td><strong>Ctrl + Shift + F</strong></td>
    <td>Search for a character sequence in all files of the project.</td>
  </tr>
  <tr>
    <td>Replace</td>
    <td>
      <p><strong>Ctrl + H</strong></p>

      <p><em>or Ctrl + R</em></p>
    </td>
    <td>
      Replace occurrences of the supplied character sequence with the
      other supplied character sequence. Useful when renaming something.
    </td>
  </tr>
  <tr>
    <td>Copy</td>
    <td><strong>Ctrl + C</strong></td>
    <td>
      Copy the currently highlighted text into the clipboard.
    </td>
  </tr>
  <tr>
    <td>Cut</td>
    <td><strong>Ctrl + X</strong></td>
    <td>Copy the highlighted text into the clipboard but delete it.</td>
  </tr>
  <tr>
    <td>Paste</td>
    <td><strong>Ctrl + V</strong></td>
    <td>
      Insert whatever currently is in the clipboard (through
      <em>Copy</em> or <em>Cut</em>) at the current caret position.
      Can insert multiple times.
    </td>
  </tr>
  <tr>
    <td>New File</td>
    <td><strong>Ctrl + N</strong></td>
    <td>Create a new empty file.</td>
  </tr>
  <tr>
    <td>Search and open file</td>
    <td><strong>Ctrl + P</strong></td>
    <td>
      Search for a file giving part of its name (<em>fuzzy search</em>).
      Pressing <em>enter</em> will open the selected file.
    </td>
  </tr>
  <tr>
    <td>Comment</td>
    <td><strong>Ctrl + /</strong></td>
    <td>
      Marks the selected text as a comment, which means that it will
      be ignored. Useful when you want to see how something behaves or looks
      without a specific section of code being run.
    </td>
  </tr>
</table>

