<% @title = "help" %>
<h1 id="help">Help: What to do when things go wrong?</h1>

<p>
  Things go wrong all the time. Don't worry, this happens to everyone.
  So keep calm. When you encounter an error, just google the error message.
  For best results, add the keywords "rails" or "ruby". Results from
  <a href="http://stackoverflow.com/questions/tagged/ruby-on-rails?sort=newest">stackoverflow.com</a>
  are often really helpful. Look for those! The most experienced developers do this frequently ;-).
  </p>

<p>
  Here are common mistakes with a little checklist:
</p>

<ul>
  <li>Have you run <em>rake db:migrate</em> to apply the newest database
    migrations?
  </li>
  <li>Have you really saved the file you just changed? Unsaved files are
    often marked in the editor via an asterisk or a point next to their
    name.
  </li>
  <li>If you just added a gem to the Gemfile, have you run <em>bundle
    install</em> to install it?
  </li>
  <li>If you just installed a gem, have you restarted the server?</li>
</ul>

<p>
  Do you need more beginner friendly in depth information about Ruby on Rails?
  We have started to gather free tutorials and learning material on a
  <strong><a href="resources.html">resources</a></strong> page! Please give
  feedback about your
  favorite tutorials and lessons!
</p>

    </section>
  </div>
</div>
