<% @title = "rails erb" %>
<h2 id="rails-erb">ERB: Embedded Ruby</h2>
<p>
  In your views (that is, under <code>app/views</code> in your Rails app) you
  will find <code>.html.<strong>erb</strong></code> files. <strong>ERB</strong>
  stands for <strong>E</strong>mbedded <strong>R</strong>u<strong>B</strong>y.
  This just means that Rails processes some special tags in those files and
  produces HTML output to send back to the user.
</p>
<p>
  There are two ERB tags that you need to remember:
  <code>&lt;%= <i>ruby_code</i> %&gt;</code> and
  <code>&lt;% <i>ruby_code</i> %&gt;</code>. Notice that the difference is the
  <strong>=</strong> in the first tag.
</p>

<table class="table table-striped">
  <tr>
    <th class="usage">Tag</th>
    <th class="erb-example">Examples</th>
    <th class="description">Description</th>
  </tr>
  <tr>
    <td><code>&lt;%<strong>=</strong> %&gt;</code></td>
    <td><code><strong>&lt;%= @product.price %&gt;</strong></code></td>
    <td>
      It runs the Ruby code and inserts the result to the HTML at that position.
      You can put <em>any kind of Ruby code</em> between <code>&lt;%=</code> and
      <code>%&gt;</code>, for instance, <code>&lt;%= 9 * 3 %&gt;</code> will translate to
      <strong>27</strong> in the page that the user is viewing. However,
      typically this tag is used to display some data from a model, such as the
      price of a product, as shown in the example here.
    </td>
  </tr>
  <tr>
    <td><code>&lt;% %&gt;</code></td>
    <td>
<pre><code><strong>&lt;% if user.admin? %&gt;</strong>
  &lt;p&gt;Hello Admin!&lt;/p&gt;
&lt;% end %&gt;</code></pre></td>
    <td>
      The Ruby code between the delimiters <code>&lt;%</code> and <code>%&gt;</code>
      is run but the result will <strong>not</strong> be inserted at this point
      in the HTML. Therefore these tags are most commonly used for control flow
      structures such as an if statement in the example, or loops.
    </td>
  </tr>
</table>

