<% @title = "rails" %>
<h1 id="rails">Rails Basics</h1>

<p>This is an introduction to the basics of Rails. We look at the general
  structure of a Rails application and the important commands used in the terminal.
</p>

<p>
  If you do not have Rails installed yet, there is a
  <a href="http://railsapps.github.io/installing-rails.html">
    well maintained guide by Daniel Kehoe
  </a> on how to install Rails on different platforms.
</p>

