<% @title = "ruby" %>
<h1 id="ruby">Ruby Basics</h1>

<p>
  Ruby is the programming language Ruby on Rails is written in. So most
  of the time you will be writing Ruby code. Therefore it is good to
  grasp the basics of Ruby. If you just want to play with Ruby, type
  <strong>irb</strong> into your console to start interactive ruby. There
  you can easily experiment with Ruby. To leave irb, type
  <strong>exit</strong>.
</p>

<p>
  This is just a very small selection of concepts. This is especially
  true later on when we talk about what Arrays, Strings etc. can do.
  For more complete information have a look at
  <a href="http://ruby-doc.org/">ruby-doc</a> or search with your favorite
  search engine!
</p>

