<h2 id="ruby-numbers">Numbers</h2>

<p>
  Numbers are what you would expect them to be, normal
  numbers that you use to perform basic math operations.
</p>

<p>
  More information about numbers can be found in the
  <a href="http://ruby-doc.org/core-2.0/Numeric.html">ruby-doc of Numeric</a>.
</p>

<table class="table table-striped">
  <tr>
    <th class="concept">Concept</th>
    <th class="usage">Usage</th>
    <th class="example">Examples</th>
    <th class="description">Description</th>
  </tr>
  <tr>
    <td>normal Number</td>
    <td><code><strong>number_of_your_choice</strong></code></td>
    <td>
      <p><code><strong>0</strong></code></p>

      <p><code><strong>-11</strong></code></p>

      <p><code><strong>42</strong></code></p>
    </td>
    <td>
      Numbers are natural for Ruby, you just have to enter them!
    </td>
  </tr>
  <tr>
    <td>Decimals</td>
    <td><code><strong>main.decimal</strong></code></td>
    <td>
      <p><code><strong>3.2</strong></code></p>

      <p><code><strong>-5.0</strong></code></p>
    </td>
    <td>
      You can achieve decimal numbers in Ruby simply by adding a point.
    </td>
  </tr>
  <tr>
    <td>Basic Math</td>
    <td>
      <code>n <strong>operator</strong> <em>m</em></code>
    </td>
    <td>
      <p><code>2 <strong>+</strong> <em>3</em> # => 5</code></p>

      <p><code>5 <strong>-</strong> <em>7</em> # => -2</code></p>

      <p><code>8 <strong>*</strong> <em>7</em> # => 56</code></p>

      <p><code>84 <strong>/</strong> <em>4</em> # => 21</code></p>
    </td>
    <td>
      In Ruby you can easily use basic math operations.
      In that sense you may use Ruby as a super-powered calculator.
    </td>
  </tr>
  <tr>
    <td>Comparison</td>
    <td>
      <code>n <strong>operator</strong> <em>m</em></code>
    </td>
    <td>
      <p><code>12 <strong>&gt;</strong> <em>3</em> # => true</code></p>

      <p><code>12 <strong>&lt;</strong> <em>3</em> # => false</code></p>

      <p><code>7 <strong>&gt;=</strong> <em>7</em> # => true</code></p>
    </td>
    <td>
      <p>Numbers may be compared to determine if a number is bigger or smaller
        than another number. When you have the age of a person saved in the
        <code>age</code> variable you can see if that person is considered
        an adult in Germany:</p>

      <p><code>age >= 18 # true or false</code></p>
    </td>
  </tr>
</table>

